streamlit==1.11.1          
streamlit-webrtc==0.42.0    
protobuf==3.20.3            
librosa==0.10.0             
numpy==1.22.4               
pydub==0.25.1               
wavio==0.0.9                
scikit-learn==0.24.2   # Changed to an older version to match your model
av==14.2.0                  
altair==4.1.0               
